<form [formGroup]="loginForm">
  <p class="">Login for creating your sauces</p>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" formControlName="email">
    <p class="explication">test account: user1@gmail.com</p>
  </div>
  <div class="field-container mb-2">
    <label for="Password">Password</label>
    <div class="password-group-wrapper" [class.focused]="isFocused">
      <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" placeholder=""
        (focus)="isFocused = true" (blur)="isFocused = false" />
      <button type="button" (click)="onTogglePassword()">
        <span>{{ showPassword ? '🙈' : '👁️' }}</span>
      </button>
    </div>
    <p class="explication">test password: User123456</p>
  </div>
  <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onLogin()">LOGIN</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  <p *ngIf="loading">
    Loading the sauces ...
  </p>
  <ng-container *ngIf="sauces$ | async as sauces">
    <p *ngIf="sauces.length <= 0">
      No sauces to display!
    </p>
    <p class="list-title" *ngIf="!loading && sauces.length > 0">THE SAUCES</p>
    <div class="sauce-list" *ngIf="!loading && sauces.length  > 0">
      <div class="sauce-list-item" *ngFor="let sauce of sauces" (click)="onClickSauce(sauce._id)">
        <img alt="Hot sauce bottle" [src]="sauce.imageUrl">
        <h4>{{ sauce.name | uppercase }}</h4>
        <p>Heat: {{ sauce.heat }}/10</p>
      </div>
    </div>
  </ng-container>
</form>