//for mongoDB
ACCESS_SECRET_TOKEN = "";
DATABASE_URL = "";
//for AWS
AWS_BUCKET_NAME = "";
AWS_REGION = "";
AWS_ACCESS_KEY_ID = "";
AWS_SECRET_ACCESS_KEY = "";
DYNAMODB_TABLE_USER = "hot-takes-users";
DYNAMODB_TABLE_SAUCES = "hot-takes-sauces";
//PORT
PORT = "3000";
